<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Name</key>
    <string>creamsn0w</string>
    <key>Identifier</key>
    <string>com.sorin.creamsn0w</string>
    <key>Description</key>
    <string>iPhone 3G/3GS/4 custom firmware unlock with embedded ultrasn0w.</string>
    <key>SupportedFirmware</key>
    <array>
    </array>
    <key>Commands</key>
    <array>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework</string>
            <key>Permission</key>
            <string>755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/Commands</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/Commands</string>
            <key>Permission</key>
            <string>755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/Commands/cycc</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/Commands/cycc</string>
            <key>Permission</key>
            <string>755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/Headers</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/Headers</string>
            <key>Permission</key>
            <string>755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/Headers/CydiaSubstrate.h</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/Headers/CydiaSubstrate.h</string>
            <key>Permission</key>
            <string>644</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/Libraries</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/Libraries</string>
            <key>Permission</key>
            <string>755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/Libraries/SubstrateBootstrap.dylib</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/Libraries/SubstrateBootstrap.dylib</string>
            <key>Permission</key>
            <string>755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/Libraries/SubstrateInjection.dylib</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/Libraries/SubstrateInjection.dylib</string>
            <key>Permission</key>
            <string>755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/Libraries/SubstrateLoader.dylib</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/Libraries/SubstrateLoader.dylib</string>
            <key>Permission</key>
            <string>755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/CydiaSubstrate</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/CydiaSubstrate</string>
            <key>Permission</key>
            <string>755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/Info.plist</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/Info.plist</string>
            <key>Permission</key>
            <string>644</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/MobileSafety.dylib</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/MobileSafety.dylib</string>
            <key>Permission</key>
            <string>755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/MobileSafety.png</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>Library/Frameworks/CydiaSubstrate.framework/MobileSafety.png</string>
            <key>Permission</key>
            <string>755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>Library/MobileSubstrate</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>Library/MobileSubstrate</string>
            <key>Permission</key>
            <string>755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>Library/MobileSubstrate/DynamicLibraries</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>Library/MobileSubstrate/DynamicLibraries</string>
            <key>Permission</key>
            <string>755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>Library/MobileSubstrate/DynamicLibraries/ultrasn0w.dylib</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>Library/MobileSubstrate/DynamicLibraries/ultrasn0w.dylib</string>
            <key>Permission</key>
            <string>755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>Library/MobileSubstrate/DynamicLibraries/ultrasn0w.plist</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>Library/MobileSubstrate/DynamicLibraries/ultrasn0w.plist</string>
            <key>Permission</key>
            <string>644</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>Library/MobileSubstrate/MobileSubstrate.dylib</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>Library/MobileSubstrate/MobileSubstrate.dylib</string>
            <key>Permission</key>
            <string>755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>private/etc/fstab</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>private/etc/fstab</string>
            <key>Permission</key>
            <string>644</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>usr/bin/cycc</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>usr/bin/cycc</string>
            <key>Permission</key>
            <string>755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>usr/include/substrate.h</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>usr/include/substrate.h</string>
            <key>Permission</key>
            <string>644</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>usr/lib/libsubstrate.0.dylib</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>usr/lib/libsubstrate.0.dylib</string>
            <key>Permission</key>
            <string>755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>usr/lib/libsubstrate.dylib</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>usr/lib/libsubstrate.dylib</string>
            <key>Permission</key>
            <string>755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>usr/share/ultrasn0w</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>usr/share/ultrasn0w</string>
            <key>Permission</key>
            <string>755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>usr/share/ultrasn0w/ultrasn0w-xgold608.dylib</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>usr/share/ultrasn0w/ultrasn0w-xgold608.dylib</string>
            <key>Permission</key>
            <string>755</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>Patch</string>
            <key>File</key>
            <string>System/Library/LaunchDaemons/com.apple.CommCenter.plist</string>
            <key>Name</key>
            <string>CommCenter Launch Preferences Patch</string>
            <key>Patch</key>
            <string>patches/com.apple.CommCenter.plist.patch</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>System/Library/LaunchDaemons/com.apple.CommCenter.plist</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>System/Library/LaunchDaemons/com.apple.CommCenter.plist</string>
            <key>Permission</key>
            <string>644</string>
        </dict>

        <dict>
            <key>Action</key>
            <string>Patch</string>
            <key>File</key>
            <string>usr/libexec/installd</string>
            <key>Name</key>
            <string>Install Daemon Patch</string>
            <key>Patch</key>
            <string>patches/installd.patch</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>usr/libexec/installd</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>usr/libexec/installd</string>
            <key>Permission</key>
            <string>755</string>
        </dict>
    </array>
</dict>
</plist>
