<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>creamsn0w</string>
	<key>Identifier</key>
	<string>com.spookyet.creamsn0w</string>
	<key>Description</key>
	<string>iPhone 3G/3GS/4 custom firmware unlock with embedded ultrasn0w.</string>
	<key>SupportedFirmware</key>
	<array>
        <string>iPhone1,2_4.1_8B117</string>
		<string>iPhone2,1_4.1_8B117</string>
		<string>iPhone3,1_4.1_8B117</string>
	</array>
	<key>Commands</key>
	<array>
		<dict>
			<key>Action</key>
			<string>SetOwner</string>
			<key>File</key>
			<string>Library/MobileSubstrate</string>
			<key>Owner</key>
			<string>root:wheel</string>
		</dict>
		<dict>
			<key>Action</key>
			<string>SetPermission</string>
			<key>File</key>
			<string>Library/MobileSubstrate</string>
			<key>Permission</key>
			<string>755</string>
		</dict>
		<dict>
			<key>Action</key>
			<string>SetOwner</string>
			<key>File</key>
			<string>Library/MobileSubstrate/DynamicLibraries</string>
			<key>Owner</key>
			<string>root:wheel</string>
		</dict>
		<dict>
			<key>Action</key>
			<string>SetPermission</string>
			<key>File</key>
			<string>Library/MobileSubstrate/DynamicLibraries</string>
			<key>Permission</key>
			<string>755</string>
		</dict>
		<dict>
			<key>Action</key>
			<string>SetOwner</string>
			<key>File</key>
			<string>Library/MobileSubstrate/DynamicLibraries/ultrasn0w.dylib</string>
			<key>Owner</key>
			<string>root:wheel</string>
		</dict>
		<dict>
			<key>Action</key>
			<string>SetPermission</string>
			<key>File</key>
			<string>Library/MobileSubstrate/DynamicLibraries/ultrasn0w.dylib</string>
			<key>Permission</key>
			<string>755</string>
		</dict>
		<dict>
			<key>Action</key>
			<string>SetOwner</string>
			<key>File</key>
			<string>Library/MobileSubstrate/DynamicLibraries/ultrasn0w.plist</string>
			<key>Owner</key>
			<string>root:wheel</string>
		</dict>
		<dict>
			<key>Action</key>
			<string>SetPermission</string>
			<key>File</key>
			<string>Library/MobileSubstrate/DynamicLibraries/ultrasn0w.plist</string>
			<key>Permission</key>
			<string>644</string>
		</dict>
		<dict>
			<key>Action</key>
			<string>SetOwner</string>
			<key>File</key>
			<string>Library/MobileSubstrate/MobileLoader.dylib</string>
			<key>Owner</key>
			<string>root:wheel</string>
		</dict>
		<dict>
			<key>Action</key>
			<string>SetPermission</string>
			<key>File</key>
			<string>Library/MobileSubstrate/MobileLoader.dylib</string>
			<key>Permission</key>
			<string>755</string>
		</dict>
		<dict>
			<key>Action</key>
			<string>SetOwner</string>
			<key>File</key>
			<string>Library/MobileSubstrate/MobilePaper.png</string>
			<key>Owner</key>
			<string>root:wheel</string>
		</dict>
		<dict>
			<key>Action</key>
			<string>SetPermission</string>
			<key>File</key>
			<string>Library/MobileSubstrate/MobilePaper.png</string>
			<key>Permission</key>
			<string>755</string>
		</dict>
		<dict>
			<key>Action</key>
			<string>SetOwner</string>
			<key>File</key>
			<string>Library/MobileSubstrate/MobileSafety.dylib</string>
			<key>Owner</key>
			<string>root:wheel</string>
		</dict>
		<dict>
			<key>Action</key>
			<string>SetPermission</string>
			<key>File</key>
			<string>Library/MobileSubstrate/MobileSafety.dylib</string>
			<key>Permission</key>
			<string>755</string>
		</dict>
		<dict>
			<key>Action</key>
			<string>SetOwner</string>
			<key>File</key>
			<string>Library/MobileSubstrate/MobileSubstrate.dylib</string>
			<key>Owner</key>
			<string>root:wheel</string>
		</dict>
		<dict>
			<key>Action</key>
			<string>SetPermission</string>
			<key>File</key>
			<string>Library/MobileSubstrate/MobileSubstrate.dylib</string>
			<key>Permission</key>
			<string>755</string>
		</dict>
        <dict>
            <key>Action</key>
            <string>SetOwner</string>
            <key>File</key>
            <string>private/etc/fstab</string>
            <key>Owner</key>
            <string>root:wheel</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>SetPermission</string>
            <key>File</key>
            <string>private/etc/fstab</string>
            <key>Permission</key>
            <string>644</string>
        </dict>
		<dict>
			<key>Action</key>
			<string>SetOwner</string>
			<key>File</key>
			<string>usr/include/substrate.h</string>
			<key>Owner</key>
			<string>root:wheel</string>
		</dict>
		<dict>
			<key>Action</key>
			<string>SetPermission</string>
			<key>File</key>
			<string>usr/include/substrate.h</string>
			<key>Permission</key>
			<string>644</string>
		</dict>
		<dict>
			<key>Action</key>
			<string>SetOwner</string>
			<key>File</key>
			<string>usr/lib/libsubstrate.dylib</string>
			<key>Owner</key>
			<string>root:wheel</string>
		</dict>
		<dict>
			<key>Action</key>
			<string>SetPermission</string>
			<key>File</key>
			<string>usr/lib/libsubstrate.dylib</string>
			<key>Permission</key>
			<string>755</string>
		</dict>
		<dict>
			<key>Action</key>
			<string>SetOwner</string>
			<key>File</key>
			<string>usr/share/ultrasn0w</string>
			<key>Owner</key>
			<string>root:wheel</string>
		</dict>
		<dict>
			<key>Action</key>
			<string>SetPermission</string>
			<key>File</key>
			<string>usr/share/ultrasn0w</string>
			<key>Permission</key>
			<string>755</string>
		</dict>
		<dict>
			<key>Action</key>
			<string>SetOwner</string>
			<key>File</key>
			<string>usr/share/ultrasn0w/ultrasn0w-xgold608.dylib</string>
			<key>Owner</key>
			<string>root:wheel</string>
		</dict>
		<dict>
			<key>Action</key>
			<string>SetPermission</string>
			<key>File</key>
			<string>usr/share/ultrasn0w/ultrasn0w-xgold608.dylib</string>
			<key>Permission</key>
			<string>755</string>
		</dict>
        <dict>
            <key>Action</key>
            <string>Patch</string>
            <key>File</key>
            <string>System/Library/LaunchDaemons/com.apple.AOSNotification.plist</string>
            <key>Name</key>
            <string>AOSNotification Launch Preferences Patch</string>
            <key>Patch</key>
            <string>patches/com.apple.AOSNotification.plist.patch</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>Patch</string>
            <key>File</key>
            <string>System/Library/LaunchDaemons/com.apple.BTServer.plist</string>
            <key>Name</key>
            <string>BTServer Launch Preferences Patch</string>
            <key>Patch</key>
            <string>patches/com.apple.BTServer.plist.patch</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>Patch</string>
            <key>File</key>
            <string>System/Library/LaunchDaemons/com.apple.CommCenter.plist</string>
            <key>Name</key>
            <string>CommCenter Launch Preferences Patch</string>
            <key>Patch</key>
            <string>patches/com.apple.CommCenter.plist.patch</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>Patch</string>
            <key>File</key>
            <string>System/Library/LaunchDaemons/com.apple.iapd.plist</string>
            <key>Name</key>
            <string>Accessory Daemon Launch Preferences Patch</string>
            <key>Patch</key>
            <string>patches/com.apple.iapd.plist.patch</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>Patch</string>
            <key>File</key>
            <string>System/Library/LaunchDaemons/com.apple.itunesstored.plist</string>
            <key>Name</key>
            <string>iTunes Store Daemon Launch Preferences Patch</string>
            <key>Patch</key>
            <string>patches/com.apple.itunesstored.plist.patch</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>Patch</string>
            <key>File</key>
            <string>System/Library/LaunchDaemons/com.apple.lsd.plist</string>
            <key>Name</key>
            <string>LS Daemon Launch Preferences Patch</string>
            <key>Patch</key>
            <string>patches/com.apple.lsd.plist.patch</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>Patch</string>
            <key>File</key>
            <string>System/Library/LaunchDaemons/com.apple.mediaserverd.plist</string>
            <key>Name</key>
            <string>Media Server Daemon Launch Preferences Patch</string>
            <key>Patch</key>
            <string>patches/com.apple.mediaserverd.plist.patch</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>Patch</string>
            <key>File</key>
            <string>System/Library/LaunchDaemons/com.apple.SpringBoard.plist</string>
            <key>Name</key>
            <string>SpringBoard Launch Preferences Patch</string>
            <key>Patch</key>
            <string>patches/com.apple.SpringBoard.plist.patch</string>
        </dict>
        <dict>
            <key>Action</key>
            <string>Patch</string>
            <key>File</key>
            <string>usr/libexec/installd</string>
            <key>Name</key>
            <string>Install Daemon Patch</string>
            <key>Patch</key>
            <string>patches/installd.patch</string>
        </dict>
 		<dict>
	        <key>Action</key>
	        <string>RunScript</string>
	        <key>File</key>
	        <string>scripts/CommCenter.patch.sh</string>
	    </dict>
	</array>
</dict>
</plist>
