<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Commands</key>
	<array/>
	<key>Description</key>
	<string>iPhone 3G/3GS custom firmware unlock with embedded ultrasn0w.</string>
	<key>Identifier</key>
	<string>com.spookyet.creamsn0w</string>
	<key>Name</key>
	<string>creamsn0w</string>
	<key>SupportedFirmware</key>
	<array>
		<string>iPhone1,1_3.0_7A341</string>
		<string>iPhone1,2_3.0_7A341</string>
		<string>iPhone2,1_3.0_7A341</string>
		<string>iPhone1,1_3.0.1_7A400</string>
		<string>iPhone1,2_3.0.1_7A400</string>
		<string>iPhone2,1_3.0.1_7A400</string>
		<string>iPhone1,1_3.1_7C144</string>
		<string>iPhone1,2_3.1_7C144</string>
		<string>iPhone2,1_3.1_7C144</string>
		<string>iPhone1,1_3.1.2_7D11</string>
		<string>iPhone1,2_3.1.2_7D11</string>
		<string>iPhone2,1_3.1.2_7D11</string>
	</array>
</dict>
</plist>
